<div class="dialog">
    <div class="flex text-lg border-b border-gray-300 pb-2">
        <h2 class="font-bold ">{{title}}</h2>
        <i class="bi bi-x-lg ml-auto cursor-pointer hover:text-red-600" (click)="dialogRef.close()"></i>
    </div>
    <div class="acc-detail">
        <p>{{message}}</p>

        <div class="flex mt-6">
            <app-submit-btn-outline (click)="Close()" class="ml-auto mr-5" btnText="Đóng" icon="bi bi-x-lg"></app-submit-btn-outline>
            <app-submit-form-button (click)="onSubmit()" btnText="Xác nhận" icon="bi bi-card-checklist"></app-submit-form-button>
        </div>
    </div>
</div>