<div class="login">
  <div class="login-main">

    <h3 class="login-title">Đăng nhập</h3>
    <div class="login-form">
      <form class="grid">
        <app-text-input-icon placeholder="Tên đăng nhập" [request]="true" iconStart="bi bi-person"
          [error]="errors.username ? errors.username[0] : ''" (senData)="handleInputUsername($event) ">
        </app-text-input-icon>

        <app-text-input-icon class="mt-4" placeholder="Mật khẩu" [request]="true" inputType="password"
          iconStart="bi bi-lock" iconEnd="bi bi-eye-slash" iconEndChange="bi bi-eye"
          [error]="errors.password ? errors.password[0] : ''" (senData)="handleInputPassword($event)">
        </app-text-input-icon>

        <div class="login-more mt-6">
          <div class="save-info">
            <input type="checkbox" name="" id="save-info">
            <label for="save-info">Lưu thông tin đăng nhập</label>
          </div>
          <div class="login-sendPage forgotPassword">
            <a routerLink="/forgot-password">Quên mật khẩu?</a>
          </div>
        </div>
        <button (click)="login()" class="login-btn login-btn--mb-40">Đăng nhập</button>
      </form>

      <div class="login-sendPage">Bạn chưa có tài khoản?
        <a routerLink="/register">Đăng ký</a>
      </div>
    </div>
  </div>
</div>