<div class="grid grid-cols-12 mt-5 gap-5">
    <!-- <div> -->


    <div class="col-span-9">
        <div class="exam">
            <h5 class="exam-title ">{{listData.title}}</h5>
            <div class="exam-list" #elementToScroll>
                <div class="exam-item" *ngFor="let item of listData.question; index as i" [id]="'item' + i">
                    <h6 class="exam-question">Câu {{i + 1}}: {{item.title}}</h6>
                    <div class="exam-answer">
                        <ul>
                            <li  *ngFor="let answer of item.answers">
                                <input (click)="handleAnswer(answer.id, item.id, i)" type="radio" [id]="answer.id" [name]="answer.question_id">
                                <label [for]="answer.id">{{answer.title}}</label><br>
                            </li>
                        </ul>

                    </div>
                </div>
                
            </div>

        </div>

    </div>
    <div class="col-span-3">
        <div class="sticky top-5">
            <div class="exam">
                <div class="exam-time mb-5"><i class="bi bi-alarm mr-5"></i> <countdown [config]="config" #cd (event)="handleEvent($event)"></countdown></div>
                <div  class=" grid grid-cols-4 gap-2">
                    <button *ngFor="let item of dataExam; index as i" (click)="scrollToElement(i)"  class="exam-number" [ngClass]="item.answer_id ? ' exam-number--blue' : ''">
                        {{i + 1}}
                    </button>
                </div>
            </div>
            <div class="exam !mt-5">
                <button (click)="onSubmit()" class="exam-time exam-time--red w-full"> Nạp bài</button>
            </div>
        </div>
        
    </div>


</div>

