<div class="p-4">
    <div class="flex text-lg border-b border-gray-300 pb-2">
        <h2 class="font-bold ">{{title}} bài học</h2>
        <i class="bi bi-x-lg ml-auto cursor-pointer hover:text-red-600" (click)="dialogRef.close()"></i>
    </div>
    <form class="mt-6">
        <div class="grid height-scroll">
            <app-upload-file (senData)="hendleFile($event)" name="Chọn ảnh" bgColor="blue" icon="bi bi-image-fill" [nameFile]="true"></app-upload-file>
         

            <app-text-input class="mt-5" 
                (senData)="hendleTitle($event)" 
                label="Tên khóa học" 
                [request]="true" 
                [value]="formItem.value.title"
                [error]="submited ? f['title'].errors : ''">
            </app-text-input>
            <!-- <div class="mt-2" *ngIf="submited && f['title'].errors">
                <div *ngIf="f['title'].errors['required']" class="notice-err"> Trường bắt buộc nhập
                </div>
            </div> -->
            
            <!-- [error]="f['title'].errors['required']" -->
            <app-text-area class="mt-5" (senData)="hendleDesc($event)" label="Giới thiệu" [value]="formItem.value.description"></app-text-area>
        </div>
        <div class="flex mt-6">
            <app-submit-btn-outline (click)="Close()" class="ml-auto mr-5" btnText="Đóng" icon="bi bi-x-lg"></app-submit-btn-outline>
            <app-submit-form-button (click)="onSubmit()" [btnText]="title" icon="bi bi-card-checklist"></app-submit-form-button>
        </div>
    </form>
</div>