.sidebar {
  background-color: white;

  &-header {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px;

  }

  &-logo {
    margin-right: auto;

    img {
      width: 135px;
    }
  }

  &-account {
    display: flex;
    gap: 16px;
    align-items: center;

  }
}



.menu {
  background-color: #de222f;



  a {
    color: white;
    text-decoration: none;
  }

  ul {
    // height: 40px;
  }

  // ul li {
  //   padding: 8px 25px;
  // }

  li {
    position: relative;
  }

  li:hover {
    background-color: #b70000;
    transition: 0.3s;
  }

  .icon-item {
    margin-right: 6px;
  }

  .icon-down {
    margin-left: 4px;
    font-size: 10px;
  }

  ul.list-child {
    min-width: 200px;
    position: absolute;
    top: 45px;
    left: 0;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.22) !important;    
    display: none;
    z-index: 9;
  }

  .menu-icon{
    padding: 8px 25px;
    display: inline-block;
  }

  ul.list-child li {
    display: block;
    color: #52606b;
    border-bottom: 1px solid white;
    cursor: pointer;
    font-size: 16px;

  }

  ul.list-child li a{
    color: #52606b;
    font-size: 16px;
    padding: 10px;
    display: inline-block;
    width: 100%;
  }


  ul.list-child li:hover {
    background-color: #dddada;
    color: black;
  }

  li:hover ul.list-child {
    display: block;
  }

  .child-item {
    width: 100%;

  }

  
}

.container{
  max-width: 1300px;
  padding: 0 10px;
}

::ng-deep .mat-mdc-menu-content{
  width: 100% !important;
}
