<div>
  <section class="sidebar">
    <div class="container">

      <div class="sidebar-header">
        <div class="sidebar-logo">
          <img src="./assets/image/logo.png" alt="">
        </div>
        <div class="sidebar-account">
          <i class="bi bi-bell"></i>
          <div class="text-16">
            <img mat-button [matMenuTriggerFor]="menu" class="h-10 w-10 cursor-pointer" [src]="checkAvatar ? infoAcc.avatar : '../../../../assets/image/user.png'" alt="">
            <mat-menu #menu="matMenu">
              <a routerLink="trang-ca-nhan"><button mat-menu-item><i class="bi bi-person-circle mr-4"></i> Trang cá nhân</button></a>
              <button (click)="logOut()" mat-menu-item><i class="bi bi-box-arrow-left mr-4"></i> Đăng xuất</button>
            </mat-menu>
          
          </div>
        </div>
      </div>
    </div>
    <div class="menu">
    <div class="container">

      <ul>
        <li *ngFor="let item of menuForRole">
          <a [routerLink]="item.url" class="text-16 menu-icon">
            <span class="icon-item" [innerHTML]="item.icon"></span>
            {{item.name}}
            <i *ngIf="item.children" class="bi bi-caret-down-fill icon-down"></i>
          </a>
          <ul *ngIf="item.children" class="list-child">
            <li *ngFor="let child of item.children" class="child-item">
              
              <a [routerLink]="child.url"> <span class="icon-item" [innerHTML]="child.icon"></span> {{child.name}}</a>
              
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
  </section>


  <ng-container>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </ng-container>
</div>