<form class="example-form">
    <label  *ngIf="label" class="block font-medium mb-2 text-gray-600" >
        {{ label }} <span *ngIf="request" class="text-red-700">*</span>
    </label>
      <input class="form-control" type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option[display]}}
        </mat-option>
      </mat-autocomplete>
      <div *ngIf="error" class="text-red-500 mt-3">
        {{ error }}
    </div>
  </form>
  