<div>
  <label *ngIf="label" class="block font-medium mb-2 text-gray-600">
    {{ label }} <span *ngIf="request" class="text-red-700">*</span>
  </label>
  <label
    class="inline-block  font-medium text-white  no-underline  px-4 text-white  rounded border  hover:border-transparent"
    [class]="bgColor == 'green' ? 'bg-green-700  hover:bg-green-800  active:bg-green-900  focus:ring focus:ring-green-300 border-green-500 py-1.5' :
        'bg-blue-600 hover:bg-blue-700  active:bg-blue-900  focus:ring focus:ring-blue-300 border-blue-500 py-1'"
    for="upload-file">
    <div> <i [class]="!file ? icon : 'bi bi-check2'" class="mr-1"></i> {{ name }} </div>
  </label>
  <input type="file" name="file" id="upload-file" (change)="getUploadedImage($event)" />
  <span *ngIf="nameFile" class="ml-4"> {{file.name}} </span>
  <!-- <label v-if="label" for="" class="block font-medium mb-2 text-gray-600">{{ label }}</label>
    <input type="file" name="file[]" id="file" @change="getUploadedImage" multiple>
    <span v-if="error" class="text-red-500">
      {{ error }}
    </span> -->
</div>