.about {
    &-form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-bottom: 50px;
    }

    &-content {

        &-item {
            margin-bottom: 80px;
            font-size: 20px;
            font-weight: 500;
            // display: flex;

            color: var(--grau-dark);

            &-img {
                width: 60px;
                height: 60px;
                border-radius: 100rem;
                background-color: var(--red);
                display: inline-grid;
                place-items: center;
                color: var(--white);
                font-size: 28px;
                float: left;
                margin-right: 20px;
            }

            &-content--mt3 {
                padding-top: 3px;
            }

            &-content--mt17 {
                padding-top: 17px;
            }
        }
    }
}