$font: "Rubik", sans-serif;
$text-color: #4f5665;
$heading-color: #0b132a;
$primary-color: #de222f;
$gray-color: #dde0e4;

$gray-light: #f3f5f9;
$gray-dark: #52606b;
$gray-darker: #293741;

$gray-lighter-color: #7f7f7f;
$red-dark: #C3001A;
$red-darker: #C3001A;
$red-light: #ce6c6c;
$white: #ffffff;
$blue: #2c90ec;
$blue-dark: #0d81eb;
$yellow: #b7af40;
$green: #2eb15e;
$green-dark: #08b681;
$green-darker: #038d35;