.search {
    background-color: var(--red);

    &-form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-bottom: 50px;
    }

    &-desc {
        color: var(--white);
    }

    &-list {
        // border: 1px solid var(--white);
        // padding: 40px;
    }

    input {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        outline: none;
        border: 1px;
        margin-bottom: 20px;

    }

    &-heading {
        margin-bottom: 50px;
        &:before {
            background-color: var(--white);
        }
    }

    

    &-desc {
        margin-bottom: 20px;
    }
}