<div class="grid grid-cols-12 gap-5 mt-5">
    <div class="col-span-9 bg-white'">

        <div class="course-header">
            <div class="flex items-center border-b border-solid border-gray-200 pb-3">
                <h5 class="course-header-title">Có thể bạn quan tâm</h5>
            </div>
            <div class=" grid grid-cols-12 gap-5 mt-5">
               
                <div class="col-span-9">
                    <app-text-input label="Từ khóa tìm kiếm" (senData)="handleSearch($event)"></app-text-input>
                </div>
                <div class="col-span-3">
                    <app-text-input label="Mã khóa học"></app-text-input>
                </div>
            </div>
        </div>
        <div class="course-container mt-5">
            <div class="course-item" *ngFor="let item of listData">
                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-3">
                        <img [src]="item.avatar? item.avatar : '../../../../../assets/image/book.jpeg' " alt="">

                    </div>
                    <div class="col-span-9">
                        <div (click)="openCourseInfo()" class="course-item-title mb-1">{{ item.title }}</div>
                               
                        <div>{{ item.description }}</div>
                        <div class="course-item-footer">
                            <div>
                                <i class="bi bi-calendar3"></i> 21 bài
                            </div>
                            <div>
                                <i class="bi bi-calendar3"></i> 343 thành viên
                            </div>
                            <button *ngIf="item.status" class="btn-thin bg-green-600 text-white py-1 px-3 rounded">
                                <i class="bi bi-check-circle"></i> Đang hoạt động
                            </button>
                            <button *ngIf="!item.status" class="btn-thin bg-red-600 text-white py-1 px-3 rounded">
                                <i class="bi bi-x-circle"></i> Ngừng hoạt động
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <Pagination :pagination="pagination" @update:pagination="getPagination"></Pagination> -->
        </div>


    </div>
    <div class="col-span-3">
        <!-- <news></news> -->
    </div>



</div>