<div class="wrapper">
  <header class="header">
    <div class="header--blue">
      <div class="header-container container-main">
        <div class="header-top header-top--first">
          <a routerLink="/"><img src="" alt="" class="header-logo"></a>
          <img class="header-toggle" src="./assets/image/menu-2.svg" alt="">
          <div  class="header-buttons">
            <a  class="btn btn--white">Đăng ký</a>
            <a routerLink="/nha-thuoc/tong-quan" class="btn btn--primary">Đăng nhập</a>

          </div>
          
        </div>

      </div>
    </div>
   
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer class="footer">
    footer
    
  </footer>
</div>