.header {
    &--blue {
        background-color: #f2faff;
    }

    &-container {
        margin-left: auto;
        margin-right: auto;
    }

    &-toggle{
        display: none;
    }

    &-top {
        display: flex;
        align-items: center;

        &--first {
            padding: 20px 0px;
        }

        &--second {
            padding: 18px 0px;
        }
    }

    &-buttons {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 0 24px;
    }

  

    @media screen and (max-width: 1500px) {
        .header-logo {
            width: 90px;
        }

        &-top {
            &--first {
                padding: 14px 0px;

            }

            &--second {
                padding: 12px 0px;

            }
        }

    }
}

  