<div class="p-4">
    <div class="flex text-lg border-b border-gray-300 pb-2">
        <h2 class="font-bold ">Bài kiểm tra: {{detailItem.title}}</h2>
        <i class="bi bi-x-lg ml-auto cursor-pointer hover:text-red-600" (click)="dialogRef.close()"></i>
    </div>

        <table class="mt-6">
            <tr>
                <td>Số câu hỏi:</td>
                <td class="form-thin">{{detailItem.numberOfQuestion}} câu</td>
            </tr>
            <tr>
                <td>Thời gian:</td>
                <td>{{detailItem.time}} phút</td>
            </tr>
            <tr>
                <td>Thời gian mở:</td>
                <td>{{detailItem.startTime | date:'dd/MM/YYYY | HH:mm'}} - {{detailItem.endTime | date:'dd/MM/YYYY | HH:mm  '}}</td>
            </tr>
        </table>

        <div class="flex mt-6 gap-3">

                
            <app-submit-btn-outline (click)="Close()" class="ml-auto" btnText="Đóng"
                icon="bi bi-x-lg"></app-submit-btn-outline>
            <app-submit-form-button *ngIf="checkTime == 'Đã mở'" (click)="onSubmit()" btnText="Vào thi"
                icon="bi bi-card-checklist"></app-submit-form-button>
        </div>
    </div>
       