<div>
    <div >
        <label  *ngIf="label" class="block font-medium mb-2 text-gray-600" >
            {{ label }} <span *ngIf="request" class="text-red-700">*</span>
        </label>
        <input  (keyup)="handleInput($event)"
            [placeholder]="placeholder"
            class="appearance-none
                block
                w-full
                bg-white
                text-gray-700
                border
                border-gray-400
                rounded
                py-2
                px-4
                leading-tight
                focus:outline-none
                focus:bg-white
                focus:border-blue-500
                " 
            :type="inputType"
            v-model="inputComputed" autocomplete="off"
        >
        <div *ngIf="error" class="text-red-500 mt-3">
            {{ error }}
        </div>
    </div>
</div>