<div>
    <div >
        <label  *ngIf="label" class="block font-medium mb-2 text-gray-600" >
            {{ label }} <span *ngIf="request" class="text-red-700">*</span>
        </label>
        <input  (keyup)="handleInput($event)"
            [placeholder]="placeholder"
            class="appearance-none
                block
                w-full
                bg-white
                text-gray-700
                border
                border-gray-400
                rounded
                py-2
                px-4
                leading-tight
                focus:outline-none
                focus:bg-white
                focus:border-blue-500
                " 
            [type]="inputType" [(ngModel)]="value" autocomplete="off"
        >
        <div *ngIf="error" class="text-red-600 mt-3 flex">
            <p *ngIf="error['required']"> <i class="bi bi-exclamation-circle  mr-2"></i> Trường bắt buộc nhập</p>
            <p *ngIf="error['maxlength']"> <i class="bi bi-exclamation-circle  mr-2"></i> Trường tối đa {{error['maxlength']['requiredLength']}} ký tự</p>
            <p *ngIf="error['minlength']"> <i class="bi bi-exclamation-circle  mr-2"></i> Trường tối thiểu {{error['minlength']['requiredLength']}} ký tự</p>
            <p *ngIf="error['pattern']">  <i class="bi bi-exclamation-circle  mr-2"></i> Ký tự không hợp lệ</p>
        </div>
    </div>
</div>