<link rel="stylesheet" type="text/css"
  href="https://gpp.com.vn/libs/bootstrap/css/bootstrap.min.css?v=638085246437153804">

<body class="page-md login" cz-shortcut-listen="true">



  <div class="hl-ring">
    <a id="phone-ring" target="_blank" href="tel:18008000" class="phone">
      <div class="phone-circle">

        <svg width="22" height="26" viewBox="0 0 22 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10.2667 0.0230485C4.42444 0.38942 0 5.34135 0 11.0024V18.9089C0 20.8708 1.63778 22.4545 3.66667 22.4545H4.88889C6.23333 22.4545 7.33333 21.3908 7.33333 20.0908V15.3634C7.33333 14.0634 6.23333 12.9997 4.88889 12.9997H2.44444V10.9788C2.44444 6.44047 6.06222 2.4931 10.7433 2.3631C15.5956 2.2331 19.5556 5.97955 19.5556 10.636V12.9997H17.1111C15.7667 12.9997 14.6667 14.0634 14.6667 15.3634V20.0908C14.6667 21.3908 15.7667 22.4545 17.1111 22.4545H19.5556V23.6363H12.2222C11.55 23.6363 11 24.1681 11 24.8182C11 25.4682 11.55 26 12.2222 26H18.3333C20.3622 26 22 24.4163 22 22.4545V10.636C22 4.52588 16.6711 -0.378779 10.2667 0.0230485Z"
            fill="white"></path>
        </svg>

      </div>
      <div class="animated host-circle"></div>
      <div class="animated host-circle-fill"></div>
      <span>
        0904.686.357
      </span>
    </a>
  </div>
  <div class="menu-toggler sidebar-toggler">
  </div>
  <div class="main-content">
    <link rel="stylesheet" type="text/css" href="/Template/css/style-login.css">
    <div class="login-main">
      <div class="main-left">
        <div class="margin-top-30">
          <h3 class="form-title uppercase">Quên mật khẩu?</h3>
          <p>
            Liên kết đặt lại mật khẩu sẽ được gửi đến email của bạn để đặt lại mật khẩu. Nếu bạn không nhận được email
            trong vòng vài phút, vui lòng thử lại.
          </p>
          <form class="forget-form" action="/Account/SetNewPasswordAndSendToEmail" method="post"
            novalidate="novalidate">

            <input name="__RequestVerificationToken" type="hidden"
              value="YGbjigP5Dt1FWYc98EnL0R_7LnLzkaf50nkXXVUJ6MNwsG_LYKAqKKAh2OEACqCPLGJeESaCCGVnK9qtri60uv_snjWvVvKppGtp6kGdQAY1">

            <div class="form-group">
              <label class="control-label">Tên Đăng Nhập</label>
              <input id="userNameResetPassword" class="form-control form-control-solid placeholder-no-fix input-ltr"
                type="text" required="" name="userName" maxlength="64" aria-required="true">
            </div>

            <div class="form-group hidden">
              <label class="control-label">Tên cơ sở</label>
              <input id="tenancyNameResetPassword" class="form-control form-control-solid placeholder-no-fix input-ltr"
                type="text" placeholder="Tên cơ sở" name="tenancyName" maxlength="64">
            </div>

            <div class="form-group">
              <label class="control-label">Email</label>
              <input class="form-control placeholder-no-fix" type="email" autocomplete="off" name="EmailAddress"
                required="" maxlength="256" aria-required="true">
            </div>
            <div class="form-actions">
              <div class="row">
                <div class="col-sm-6">
                  <button type="submit" class="btn btn-red uppercase pull-right">Gửi đi</button>
                </div>
                <div class="col-sm-6">
                  <a href="/dang-nhap">
                    <button type="button" id="back-btn" class="btn btn-outline-secondary">Quay lại</button>
                  </a>
                </div>

              </div>


            </div>
          </form>
        </div>
      </div>

    </div>

  </div>

  <div class="copyright">
    Copyright © 2023 TVS GPC ONLINE. All rights reserved.
  </div>

  <div class="updates-panel hidden">
    <span class="updates-close" id="updates-close"> <em class="fa fa-times"></em> </span>
    <div class="features-panel">
      <h3>Thông báo</h3>
      <ul class="timeline">
        <li class="timeline-inverted">
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Bản cập nhật <span class="label label-success">23-08-2019</span></h4>
            </div>
            <div class="timeline-body">
              <ul>
                <li>Cải thiện tốc độ, nâng cao trải nghiệm người dùng</li>
                <li>Cải tiến chức năng in mã vạch với giá bán bao gồm VAT</li>
                <li>Cải tiến báo cáo bán hàng theo bác sỹ, giảm trừ hàng hóa ở phiếu khách trả</li>
                <li>Cải tiến xuất excel hàng hóa có thêm cột VAT</li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!--[if lt IE 9]>
      <script src="~/libs/respond/respond.min.js"></script>
      <script src="~/libs/excanvas/excanvas.min.js"></script>
  <![endif]-->

</body>
