.label-form{
    transform: translateY(-13px);
    background: white;
    width: 95px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: #3571dd;

}

::ng-deep .mat-mdc-dialog-container {
    max-height: 100vh !important;
    // overflow-y: scroll;
  -ms-overflow-style: none; /* khai báo sử dụng Internet Explorer, Edge */
    scrollbar-width: none
}

::ng-deep .mat-mdc-dialog-surface::-webkit-scrollbar {
    display: none; /* cho Chrome, Safari, and Opera */
  }
