<div>
    <div class=" btn-group">
        <input type="text" [value]="valueItem" [readonly]="true" id="dropdownMenuClickableInside"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuClickableInside">
            <li> <input type="text" (keyup)="search($event)"> </li>
            <li *ngFor="let item of listData" class="item-hover" (click)="getItem(item)">{{item.name}}</li>

        </ul>
    </div>
</div>