<div>
    <label *ngIf="label" class="block font-medium mb-2 text-gray-600 text-sm">
        {{ label }}<span *ngIf="request" class="text-red-700">*</span>
    </label>
    <input class="appearance-none
    block
    w-full
    bg-white
    text-gray-700
    border
    border-gray-400
    rounded
    py-1.5
    px-4
    leading-tight
    focus:outline-none
    focus:bg-white
    focus:border-blue-500
    text-sm
    " type="datetime-local" displayFormat="DD/MM/YYYY HH:mm" [ngModel]="DateItem | date:'yyyy-MM-ddTHH:mm'"
        (change)="onSearchDate($event)">
    <div *ngIf="error" class="text-red-500 mt-3">
        {{ error }}
    </div>
</div>