<div class="grid grid-cols-12 gap-5 mt-5">
    <div class="col-span-9 bg-white'">

        <div class="course-header">
            <div class="flex items-center border-b border-solid border-gray-200 pb-3">
                <h5 class="course-header-title">Khóa học của tôi</h5>
                <app-submit-form-button *ngIf="permission.includes('course-edit')" (click)="openModal()" class="ml-auto " icon="bi bi-plus-circle"
                    btnText="Thêm mới"></app-submit-form-button>
            </div>
            <div class=" grid grid-cols-12 gap-5 mt-5">
                <div class="grid col-span-3">
                    <label for="" class="!mb-2 text-sm">Trạng thái</label>
                    <select (change)="statusCourse($event)"
                        class="text-sm appearance-none block w-full bg-white text-gray-700 border border-gray-400 rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-blue-500">
                        <option value="1">Đang hoạt động</option>
                        <option value="0">Ngừng hoạt động</option>
                    </select>
                </div>
                <div *ngIf="permission.includes('course-register')" class="col-span-3 grid">
                    <label for="" class="!mb-2 text-sm">Đăng ký</label>
                    <select (change)="confirmCourse($event)"
                        class="text-sm appearance-none block w-full bg-white text-gray-700 border border-gray-400 rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-blue-500">
                        <option value="true">Đã đăng ký</option>
                        <option value="false">Chờ xác nhận</option>
                    </select>
                </div>
                <div [ngClass]="permission.includes('course-register') ? 'col-span-6' : 'col-span-9'">
                    <app-text-input label="Từ khóa tìm kiếm" (senData)="handleSearch($event)"></app-text-input>
                </div>
             
            </div>
        </div>
        <div class="course-container mt-5">
            <div class="course-item" *ngFor="let item of listData">
                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-3">
                        <img [src]="item.avatar? item.avatar : '../../../../../assets/image/book.jpeg' " alt="">

                    </div>
                    <div class="col-span-9">

                        <div class="course-item-header">
                            <a *ngIf="PageInfo.confirm == 'true'" routerLink="{{item.slug}}" class="course-item-title">{{ item.title }}</a>
                            <a *ngIf="PageInfo.confirm == 'false'" class="course-item-title">{{ item.title }}</a>
                                <button *ngIf="permission.includes('course-edit')" class="course-item-icon" mat-button [matMenuTriggerFor]="menu">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <mat-menu #menu="matMenu">
                                  
                                     <button (click)="editModal(item.slug)" class="w-full p-2 text-start text-blue-500 hover:bg-gray-200 border-b border-solid border-gray-200 ">
                                        <i class="mr-2 bi bi-pencil-square"></i> Sửa

                                     </button>
                                     <button (click)="confirmDelete(item.slug, item.title)" class="w-full p-2 text-start text-red-600 hover:bg-gray-200 border-b border-solid border-gray-200">
                                        <i class="mr-2 bi bi-trash3"></i> Xóa
                                     </button>
                                     <button (click)="changeStatus(item.slug)" class="w-full p-2 text-start hover:bg-gray-200">
                                        <i class="bi bi-repeat"></i> {{ item.status == 0 ? 'Hoạt động' : 'Tạm dừng' }}

                                     </button>
                                </mat-menu>

                        </div>
                        <div>{{ item.description }}</div>
                        <div class="course-item-footer">
                            <div>
                                <i class="bi bi-person"></i> {{item.nameTeacher}}
                            </div>
                            <div>
                                <i class="bi bi-calendar3"></i> {{item.numberOfLesson}} bài
                            </div>
                            <div>
                                <i class="bi bi-people"></i> {{item.numberOfMember}} thành viên
                            </div>
                            <button *ngIf="item.status" class="btn-thin bg-green-600 text-white py-1 px-3 rounded">
                                <i class="bi bi-check-circle"></i> Đang hoạt động
                            </button>
                            <button *ngIf="!item.status" class="btn-thin bg-red-600 text-white py-1 px-3 rounded">
                                <i class="bi bi-x-circle"></i> Ngừng hoạt động
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <app-no-data *ngIf="listData.length == 0"></app-no-data>
            <!-- <Pagination :pagination="pagination" @update:pagination="getPagination"></Pagination> -->
        </div>


    </div>
    <div class="col-span-3">
        <!-- <news></news> -->
    </div>



</div>